!!! 5
%html
  %head
    %meta(charset='utf-8')
    %title I Shoot Film :: Error
    %link(rel='stylesheet' href='/site.css' type='text/css' media='screen' title='default style sheet')
  %body
    #content
      %header
        %h1 I Shoot Film :: Error
      %content
        %p Something has gone wrong. Yeah, it sucks for me too.
      %footer
        %p Site designed and built by <a href="http://funkaoshi.com">Ramanan Sivaranjan</a>.
    = haml(:_analytics, :layout => false)
